.metext-container{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.metext-container1{
    color: #b92ad2;
   font-weight: bold;
   font-size: medium;
} 
.metext-container2{
    color: white;
   font-weight: bold;
   font-size: larger;
   line-height: 2rem;
   font-family: sans-serif;
} 
@media screen and (max-width: 768px) {
  .metext-container{
    width: 80%;
    
}
  .metext-container2{
    color: white;
   /* font-weight: bold; */
   font-size: small;
   line-height: 1.2rem;
   font-family: sans-serif;
} 
}