*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body, #root {
  width: 100%;
  height: 100%;
   overflow-x: hidden;

   /* scrolling  */
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  /* overflow-y: scroll; */
}
.App{
   display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: column;
  background-color: black;
  /* background : linear-gradient(180deg, #000000 0%,#821590 50%, #000000 100%); */
}
.page1,.page2,.page3,.page4,.page5,.page6,.page7
{
  scroll-snap-align: start;
}
.page2{
  height: 100dvh;
  width: 100dvw;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
}
.text-and-profileCard{
  width: 100dvw;
  position: relative;
  margin-top: 15dvh;
  margin-left: 10dvw;
  margin-right: 10dvw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 5%;
}
.page3{
  height: 100dvh;
  width: 100dvw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page4{
  height: 100dvh;
  width: 100dvw;
  padding-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.languages-container{
  width: 30%;
  display: grid;
  grid-template-columns: 1fr 1fr ;
}
.page5{
  height: 100dvh;
  width: 100dvw;
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
}
.stack-text{
  height: 30%;
  width: 100%;;
  position: absolute;
  margin-top: 10%;
  color: white;
}
.stack-text p{
  font-weight: 900;
  font-size: 6rem;
   background: linear-gradient(90deg, #d22ac7 0%, #b92ad2 50%,  #3e2ad2 100%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* For Firefox */
  color: transparent;    /* Fallback */


  /* color: #b92ad2; */
}
.page6{
  height: 100dvh;
  width: 100dvw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  grid-area: 10px;
}
.page7{
  height: 40dvh;
  width: 100dvw;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 5%;
  gap: 5%;
}
.download-section{
  color: rgb(185, 42, 210);
  font-weight: bold;
  font-size: xx-large;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.download-btn{
  width: 60%;

}
@media screen and (max-width: 768px) {
  .text-and-profileCard{
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
  }
  .page2{
    height: auto;
  }
  .page4{
    flex-direction: column;
  }
}
.about-thread{
  width: 100dvw;
  height: 20dvw;
  display: flex;
  justify-content: center;
  align-items: center;
}
